body{
    font-family: 'Roboto','Arial','sans-serif';
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


#body {
    padding: 30px;
    padding-top: 0px;
    width: fit-content;
    border: 1px solid gainsboro;
    border-radius: 5px;
    background-color: white;
    border-bottom: 3px solid #000e1d;
}
#font-icon{
    background-image: url('./logo1.jpg');
    background-color: white;
    background-size: 60%;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    background-position: center;
    border: 1px solid gainsboro;
    margin-top: -35px;
    margin-right: 20px;
    border-radius: 5px;
}
#datetime{
    color: #000e1d;
    font-weight: 200;
    padding-left: 0px;
    width: fit-content;
}

#containenr {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    width: fit-content;
    margin: auto;
}

#header{
    color: #0037ff;
    font-weight: bolder;
    font-size: 20.5px;
    text-decoration: underline;
}